@font-face {
  font-family: Cera Pro;
  src: url('https://assets.lbkrs.com/pkg/annual-2023/Cera-Pro-Bold.otf');
  font-weight: 600;
}
:root {
  --vp-c-brand-1: #1b1912;
  --vp-c-brand-2: #1b1912;
  --vp-c-brand-3: #37a0ff;
  --vp-c-text-1: #1b1912;
  --vp-c-text-2: #464f56;
  --vp-home-hero-name-color: #101010;
  --vp-layout-max-width: 1280px;
  --vp-sidebar-bg-color: #f8f9fa;
  --text-color-2: #82888d;
  --text-color-3: #afb3b6;
  --text-color-1-supplement: #464f56;
  --lb-gray-1: #929292;
}

.VPHome {
  margin: 0 !important;
}

.vp-doc #home-page {
  --vp-font-family-base:
    "PingFang SC", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --lb-font: "Cera Pro", sans-serif;
  h1 {
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: "Cera Pro", sans-serif;
  }
  h2,
  h3 {
    border: 0;
    margin: 0;
    padding: 0;
  }
  p {
    line-height: 1;
    margin: 0;
  }
}

/* reset preset vitepress padding */
.vp-doc.container {
  padding: 0px !important;
  margin: 0px !important;
  max-width: 100% !important;
}

/* medium plugin styles*/
.medium-zoom-overlay {
  z-index: 9998;
}

.medium-zoom-image {
  z-index: 9999;
}
